<!--affichage des msg si pk save false -->
<% if @article.errors.any? %>
  <h2>Erreur à cause des raisons suivantes </h2>
  <ul>
    <% @article.errors.full_messages.each do  |msg|  %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<div class="container">
  <%= form_for @article do |f| %>
    <div class="mb-3">
        <div class="form-label">
          <%= f.label :title %>
        </div>
        <%= f.text_field :title, class:"col-8", placeholder: "Titre"%> 
    </div>
    <div class="mb-3">
      <div class="form-label">
          <%= f.label :description %>
      </div>
      <%= f.text_area :description,rows: 10, class:"col-8", placeholder: "Description"%>
    </div>
    <div class="mb-3">
      <%= f.submit class:"btn-primary"%>
    </div>
  <% end %>

  <%= link_to "Retour à la liste", articles_path  %>
</div>

