<!-- obj: article pertmet de passe en parametre sur le type d'objet on utilis ici article-->
<%= render 'shared/errors', obj: @article %>
<div class="container">
  <%= form_for @article do |f| %>
    <div class="mb-3">
      <div class="form-label">
        <%= f.label :title %>
      </div>
      <%= f.text_field :title, class:"col-12 form-control", placeholder: "Titre"%>
    </div>
    <div class="mb-3">
      <div class="form-label">
        <%= f.label :description %>
      </div>
      <%= f.text_area :description,rows: 10, class:"col-12 form-control ", placeholder: "Description"%>
    </div>
    <div class="mb-3">
      <%= f.submit class:"btn-primary"%>
    </div>
  <% end %>
  <%= link_to "Retour à la liste", articles_path  %>
</div>