<div class="container">
  <h2><%= @article.title %></h2>
  <div class="display-description">
    <%= @article.description %>
    <div class="article-actions">
      <%= gravatar_for @article.user, size: 50 %><br>
      <small> Par <%= link_to @article.user.username, user_path(@article.user)%></small>
    </div>
    <div class="article-actions">
      <% if logged_in? and current_user == @article.user %>
        <%= link_to "Editer l'article", edit_article_path(@article), class: "btn btn-primary btn-sm" %>
        <%= link_to "Suprimer cet article", article_path(@article), method: :delete, class: "btn btn-danger btn-sm" %>
      <%end%>
      <%= link_to "Revenir à la liste", articles_path, class: "btn btn-success btn-sm"  %>
    </div>
  </div>
</div>
