<div class="container text-center">
    <h1> Liste des utilisateurs</h1>
</div>
<div class="container">
    <% @user.each do |user|%>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-secondary">
                <%= gravatar_for user, size: 12 %>
                <%= link_to user.username, user_path(user) %>
                <% if logged_in? and current_user.admin? %>
                    <%= link_to "Suprimer utilisateur", user_path(user),
                    method: :delete, data: {confirm: "Etes-vous sur de voiloir surprimer cette utilisatueur"},
                    class: "btn btn-danger btn-sm" %>
                <% end %>
            </li>
            
            <li class="list-group-item">
                <p class="mb-1"><%= pluralize(user.articles.count, "article") if user.articles %></p>
            </li>
        </ul>

    <% end %>
    <div class="pagination">
        <%= paginate @user %>
    </div>
</div>

