<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <!-- afficher la navbar -->
    <%= render 'layouts/navigation' %>
    <!-- afficher un msg flash -->
    <%= render 'layouts/message' %>
    <%= yield %> 

    <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Right-aligned menu example
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><button class="dropdown-item" type="button">Action</button></li>
    <li><button class="dropdown-item" type="button">Another action</button></li>
    <li><button class="dropdown-item" type="button">Something else here</button></li>
  </ul>
</div>

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle style" id="title-navbar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Nouvel Article", new_article_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="#">Something else here</a>
        </div>
</li>

    <%= render 'layouts/boby' %>
    <%= render 'layouts/footer' %>


  </body>
</html>
